body{
    background-image: url("snake.png");
    background-size: cover;
   background-position: bottom;
    min-height: 100vh;
}


#myCanvas{
   
    border: 5px solid rgb(228, 228, 228);
    background-color: black;
    box-shadow: 30px 30px 10px rgba(0, 0, 0, 0.3);

    
}

.juego{
    width: 100%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    font-family: "Barrio", system-ui;
    font-weight: 400;
    font-style: normal;
}
.instrucciones{
    padding-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    
    
}




